@page "/players/list/{present:int?}"
@using PlayersDemo.Data
@using PlayersDemo.Data.Models
@using Microsoft.EntityFrameworkCore
@using PlayersDemo.Components
@inject IDbContextFactory<PlayersDbContext> ContextFactory
@inject IJSRuntime JsRuntime
@inject StateManager StateManager

<PageTitle>Players Overview</PageTitle>

<h3>Players Overview</h3>

@if (Players is null)
{ 
    <div>Players is null</div>
}
else
{
    <div>@Present / @Pages</div>
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Is Right</th>
                <th>Team</th>
                <th>Position</th>
                <th>Citizenship</th>
                <th>Langitude</th>
                <th>Longitude</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
           
                @foreach(var p in Players)
            {
                <tr>
                    <td>
                        @p.FirstName
                    </td>
                    <td>
                        @p.LastName
                    </td>
                    <td>
                        @p.IsRight
                    </td>
                    <td>
                        @p.Team?.Name

                    </td>
                    <td>
                        @p.Position

                    </td>
                    <td>                        
                        @p.Citizenship?.Name
                    </td>
                    <td>
                        @p.Latitude

                    </td>
                    <td>
                        @p.Longitude

                    </td>
                    <td>
                        <a href="/players/edit/@p.Id" class="btn btn-outline-primary">Edit</a>
                        <a href="/players/playerdetails/@p.Id" class="btn btn-outline-primary">Location</a>
                        <button class="btn btn-danger" @onclick="(() => HandleDelete(p))">Delete</button>

                    </td>

                </tr>
                }
            
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item @(Present == 1 ? "disabled" : "")">
            <a class="page-link" href="/players/list/@(Present - 1)"> &lt; </a>
        </li>
        <li class="page-item @(Present == Pages ? "disabled" : "")">
            <a class="page-link" href="/players/list/@(Present + 1)"> &gt; </a>
        </li>
        
    </ul> 
    
    

    @if (Show)
    { 
        // Set ConfirmedChanged event to execute the Test method when event is emitted.
        <PopConfirm CurrentPlayer="@CurrentPlayer" Message="Are you sure?" Title="Remove Player" ConfirmedChanged="Test"/>
    }
}


@code {
    public Player? CurrentPlayer { get; set; }
    public bool Show { get; set; } = false;

    private const int PlayersPerPage = 3;
    private Player[]? Players { get; set; }

    [Parameter]
    public int? Present { get; set; }

    public int Pages { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        // Too Low Present page
        if (Present == null || Present.Value <= 0 )
        {
            Present = 1;
        }

        var context = ContextFactory.CreateDbContext();

        var playersCount = await context.Players.CountAsync();
        var pages = (int)Math.Ceiling((decimal)playersCount / PlayersPerPage);
        Pages = pages;

        // Too High Present page
        if (Present > pages)
        {
            Present = pages;
        }

        var skip = (Present.Value - 1) * PlayersPerPage;

        StateManager.Page = Present.Value;

        var players = await context.Players
            .Include(p => p.Team)
            .Include(p => p.Citizenship)
            .OrderBy(p => p.LastName)
            .Skip(skip)
            .Take(PlayersPerPage)
            .ToArrayAsync();

        Players = players;
    }

    private async Task Test(bool isConfirmed)
    {
        Show = false;

        if (isConfirmed) 
        {
            try
            {
                var context = ContextFactory.CreateDbContext();

                context.Remove(CurrentPlayer);

                await context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            { }

            // refresh
            await OnParametersSetAsync();
        }
    }

    private async Task HandleDelete(Player p) 
    {
        //bool canRemove = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure? Remove {p.FirstName} {p.LastName}??");

        //if (canRemove)
        //{
        //    var context = ContextFactory.CreateDbContext();

        //    context.Remove(p);

        //    await context.SaveChangesAsync();

        //    // refresh
        //    await OnParametersSetAsync();
        //}

        CurrentPlayer = p;
        Show = true;
    }
}
